export SLACK_BOT_TOKEN=<your Bot User OAuth Token>
export SLACK_SIGNING_SECRET=<your Signing Secret>
export PORT=<your port>

export SLACK_CSTRIKE_CHANNEL=<your slack channel id>

export SERVANT_PORT=<your port>
export SERVANT_HOST=<your host>

export CSTRIKE_MAPS=<path to your cstrike maps>
export CZERO_MAPS=<path to your czero maps>
export CZERO_MAPCYCLE_TXT=<path to your czero mapcycle.txt>
export CZERO_SERVER_CFG=<path to your czero server.cfg>

use_nix
