export SLACK_APP_TOKEN=
export SLACK_BOT_TOKEN=
export PORT=

export SLACK_CSTRIKE_CHANNEL=

export CONTAINER=

export CSTRIKE_DIR=
export CZERO_DIR=
export CZERO_MAPCYCLE_TXT=
export CZERO_SERVER_CFG=
export MAP=

export DEFAULT_HOSTNAME=
export DEFAULT_PASSWORD=

use_nix
